body {background-color: rgb(235,224,1);}
a:link {color: rgb(89,149,212);}
a:visited {color: rgb(111,205,235);}
a:active {color: rgb(103,135,246);}
a:hover {color: rgb(89,212,210);}
div {
  font-family: times new roman, sans-serif;
  color: rgb(0,0,0);
  line-height: 1.5em;
  text-align: justify;
  width: 60%;
  min-width: 500px;
  border: 2px none rgba(61,59,53);
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
  margin: 10px auto 10px auto;
  box-shadow: 5px 5px 5px 5px #777777;
  background-color: rgb(255,255,255);}
